body{
    background-color: rgb(234, 234, 234);
    text-align: center;
    color: darkblue;
    font-family: monospace;
}
a {
    color: orange
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: red;
}

main {
    margin: 20px;
    padding: 20px;
}