body {
    background-color: rgb(234, 234, 234);
    text-align: center;
    color: darkblue;
    font-family: monospace;
}

a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

h2 {
    text-align: center;
}

figure {
    text-align: center;
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 98%;
    }
}
