 <nav>
    <a href="https://github.com/GiancarloPretell">GitHub</a>
    |
    <a href="https://www.linkedin.com/in/giancarlo-p9">LinkedIn</a>
    |
    <a href="https://webpages.charlotte.edu/gpretell/">CLT Web</a>
    |
    <a href="https://giancarlopretell.github.io">GitHub.io</a>
    |
    <a href="https://www.freecodecamp.org/fcc-ff53d742-d599-4a6d-852d-855f4b54688b">FreeCodeCamp</a>
    </nav>

    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
     </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." />
    </a>

    <a href="#" title="Accumulus" onclick="return false;">Accumulus</a>
    <p>
    <small>Page designed by <a href="JPdesigns.com/">JP Designs</a>&copy;2025</small>
    </p>