 <h1>Jonny Pretell's Jacked Platypus || ITSC3135</h1>
    <nav>
      <a href="./">Homepage</a> |
      <a href="introduction.html">Introduction</a> |
      <a href="contract.html">Contract</a> |
      <a href="./stuff/CrApPy PaGe & WEIRD!!.htm">Crappy Page</a> |
      <a href="../jackedplatypus/index.html">Mascot Site</a> |   
      <a href="website_evaluations.html">Website Evaluations</a> |
      <a href="intro_form.html">Intro Form</a>  |
      <a href="project_overview.html">Project Overview</a>
      <a href="review1.html">Peer Review 1</a> |
      <a href="review2.html">Peer Review 2</a> |


    </nav>